input[type=text] {
  @include media-breakpoint-down(lg) {
    text-align: center;
  }

  &:focus {
    box-shadow: none;
  }
}

input[type=radio] {
  appearance: none;
  width: 1.15em;
  height: 1.15em;
  margin: 0;
  border: 0.15em solid $gray-400;
  border-radius: 50%;
  background-color: $white;
  color: $white;
  transform: translateY(-0.075em);
  cursor: pointer;
}

input[type=radio]::before {
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: inset 1em 1em $brand-color-primary;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  content: "";
}

input[type=radio]:checked::before {
  transform: scale(1);
}

